body{
    font-family: 'Lato', serif;
    color: #ffffff;
}

// .primary__header{
//     font-size: 8.5rem;
//     font-weight: 700;
//     letter-spacing: .5rem;
// }
// .asia--header{
//     color: transparent;
//     background-image: linear-gradient(to bottom, #ffffffe5, #241a1a1f);
//     -webkit-background-clip: text;
//     transform: scale(0.5);
//     text-align: left;
// }
// .asia--paragraph{
//     visibility: hidden;
// }
// .asia--btn{
//     visibility: hidden;
// }

.primary__paragraph{
    font-size: 1.5rem;
    width: 90%;
}